@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppinsbold;
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppinsblack;
    src: url(../fonts/Poppins-Black.ttf);
}

*{
    font-family: poppins,Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
